<!-- <app-homepage></app-homepage> -->
<!-- <section class="container my-3">
    <h3>One Way Binding</h3>
    <h5>Interpolation</h5>
    {{ title }}<br>
    {{5+3}}<br>
    {{5>9}}<br>
    {{ show() }}<br>
    <img src="{{imgSrc}}" width="50" height="50"><br>
    <input value="" (keyup)="0"  #myinput><br>
    <li>{{myinput.value}}</li>
    {{htmlData}}
    <hr>
    <h5>Property Binding</h5>
    <img [src]="imgSrc" width="50" height="50"><br>
    <section [innerHTML]="htmlData"></section>
    <hr>
    <h5>Event Binding</h5>
    <button (click)="handleClick()">click</button>
    <br>
    <button class="btn btn-success" (click)="addCounter()">+</button>
    <h6>{{ c }}</h6>
    <button class="btn btn-danger" (click)="minCounter()">-</button> -->
<!-- input keyup keydown onmouseover hover -->
<!-- <hr>
<h3>Two Way Binding</h3> -->
<!-- ngModel import app.module -->
<!-- <input [(ngModel)]="data" ><br>
    {{data}}
</section> -->

<!-- <section class="container my-5">
    <div class="row">
    <div class="col-4 border border-primary border-3" *ngFor="let image of data">
        <img [src]="image.url" class="img-fluid">
        <h6>{{image.title}}</h6>
    </div>
</div>
</section> -->


<app-users></app-users>



