<table class="table table-bordered" *ngIf="isloaded">
    <thead>
        <tr>
            <th>_id</th>
            <th>name</th>
            <th>age</th>
            <th>email</th>
            <th>gender</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allUsers">
            <th>{{user._id}}</th>
            <th>{{user.name}}</th>
            <th>{{user.age}}</th>
            <th>{{user.email}}</th>
            <th>{{user.gender}}</th>
            <th>
                <img *ngIf="user.img; else NoImg" src="http://localhost:3000/files/{{user.img}}" width="50" height="50">
                <ng-template #NoImg>User has no image</ng-template>
            </th>
            <th>
                <button routerLink="/user/show/{{user._id}}" class="mx-2 btn btn-primary">show</button>
                <button routerLink="/user/edit/{{user._id}}"  class="mx-2 btn btn-warning">edit</button>
                <button (click)="handleDelete(user._id)"  class="mx-2 btn btn-danger">delete</button>
            </th>
        </tr>
    </tbody>
</table>
