<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="#">{{"our project"|uppercase}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">my profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/upload-image">upload-image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">all users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">add project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">my projects</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" >logout</button>
          </li>
        </ul>

      </div>
    </div>
  </nav>
