{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="border border-3 border-primary p-4">
        <h5>Name</h5>
        <h6>age</h6>
        <p>
            address
        </p>
        <p>
            email
        </p>
    </div>
</section>
{{>footer}}
