{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="border border-3 border-primary p-4">
        <h5>Name: {{user.name}}</h5>
        <h6>age: {{user.age}}</h6>
        <p>
            address: {{user.address}}
        </p>
        <p>
            email: {{user.email}}
        </p>
    </div>
</section>
{{>footer}}
